<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}checkIN{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
        {% endblock %}
    </head>

    <body class="bg-gray-50">
        {% if is_granted('ROLE_USER') %}
            <header class="bg-gray-100 mb-5">
                <nav class="border-gray-200 dark:bg-gray-900">
                    <div class="max-w-screen-xl flex justify-between mx-auto p-1">

                            <div class="flex">
                                <div class="px-4">
                                    <span class="block text-sm text-gray-900 dark:text-white">{{ app.user.name }}</span>
                                    <span
                                        class="block text-xs text-gray-500 truncate dark:text-gray-400">
                                        {{ app.user.email }}
                                    </span>
                                </div>
                            </div>

                            <div>
                                <ul class="flex" aria-labelledby="user-menu-button">
                                    <li class="items-center">
                                        <a href="{{ path('app_preferences') }}"
                                            class="px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                            <i class="fa-solid fa-gear"></i> Preferências
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('app_logout') }}"
                                            class="px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                            <i class="fa-solid fa-right-from-bracket"></i> Sair
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            {# <div class="flex md:order-2">
                                <button type="button"
                                    class="flex text-white p-1 text-xl bg-purple-700 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                                    data-dropdown-placement="bottom">
                                    <div class="w-7 h-7 rounded-full">
                                        <p class="uppercase">{{ app.user.name|first }}</p>
                                    </div>
                                </button> #}

                                <!-- Dropdown menu -->
                                {# <div class="z-50 hidden list-none bg-gray-50 divide-y divide-gray-900 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                                    id="user-dropdown">
                                    <div class="px-4 py-3">
                                        <span class="block text-sm text-gray-900 dark:text-white">{{ app.user.name }}</span>
                                        <span
                                            class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ app.user.email }}</span>
                                    </div>

                                    
                                </div>
                            </div> #}

                            {# <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
                                id="mobile-menu-2">
                                <ul
                                    class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-100 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-gray-100 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                                    <li>
                                        <a href="{{ path('app_check_in') }}"
                                            class="block py-2 pl-3 pr-4 text-gray-600 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                            aria-current="page"><i class="fa-solid fa-house"></i> Home
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#"
                                            class="block py-2 pl-2 pr-4 text-gray-600 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                            <i class="fa-solid fa-clipboard-check"></i> Nova marcação
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#"
                                            class="block py-2 pl-2 pr-4 text-gray-600 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                            <i class="fa-solid fa-file-lines"></i> Registros
                                        </a>
                                    </li>
                                </ul>
                            </div> #}
                    </div>
                </nav>
            </header>
        {% endif %}

        <main class="w-full">
            {% block body %}{% endblock %}
        </main>

        {% if is_granted('ROLE_USER') %}
            <footer class="fixed bottom-0 bg-gray-50 w-full">
                <div class="w-full max-w-screen-xl mx-auto mb-4">
                    <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700" />
                    <span class="block mb-0 text-sm text-gray-500 sm:text-center dark:text-gray-400">
                        © Feito com <i class="fa-solid fa-heart"></i>
                    </span>
                </div>
            </footer>
        {% endif %}

    </body>

</html>